@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
/* @import "tailwindcss/preflight.css" layer(base); */
@import "tailwindcss/utilities.css" layer(utilities);

@import "@/nnry.css";
@import "@/font.css";

body, html, div#app {
  height: 100%;
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
}
